/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 20, ../sass/main.scss */
html,
button,
input,
select,
textarea {
  font-size: 16px;
  color: #333;
}

/* line 26, ../sass/main.scss */
body,
p {
  font-size: 1.125rem;
  line-height: 2rem;
  margin: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 38, ../sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 43, ../sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 52, ../sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 65, ../sass/main.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 73, ../sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 83, ../sass/main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 91, ../sass/main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 103, ../sass/main.scss */
section,
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 107, ../sass/main.scss */
a {
  text-decoration: none;
  color: #333;
}

/* line 118, ../sass/main.scss */
.action {
  /* wrapper for an icon group */
  float: right;
}

/* line 129, ../sass/main.scss */
.meta-text {
  font-size: 0.875rem;
}

/* line 133, ../sass/main.scss */
.status-text {
  font-size: 0.75rem;
  text-shadow: white 1 1 0;
}

/* line 139, ../sass/main.scss */
#content-wrapper {
  margin-top: 3rem;
}

/* line 143, ../sass/main.scss */
.bar {
  width: 100%;
  padding: 0.5rem;
}
/* line 147, ../sass/main.scss */
.bar.nav {
  background-color: #222;
  color: #d3d3d3;
  position: fixed;
  top: 0;
  z-index: 9;
  height: 3rem;
  border-bottom: 1px #000 solid;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 5px;
}
/* line 157, ../sass/main.scss */
.bar.nav .current {
  color: #d3d3d3;
  display: none;
  padding: 0 1rem;
  min-width: 6rem;
}
/* line 164, ../sass/main.scss */
.bar.nav ul {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
}
/* line 60, ../../../../Downloads/fire.app.windows.v1.11/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.bar.nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../Downloads/fire.app.windows.v1.11/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.bar.nav ul li:first-child, .bar.nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../Downloads/fire.app.windows.v1.11/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.bar.nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../Downloads/fire.app.windows.v1.11/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.bar.nav ul li.last {
  padding-right: 0;
}
/* line 169, ../sass/main.scss */
.bar.nav ul li {
  height: 2rem;
  position: relative;
}
/* line 175, ../sass/main.scss */
.bar.nav ul a {
  display: block;
  color: #d3d3d3;
  text-align: center;
}
/* line 182, ../sass/main.scss */
.bar.nav ul a:hover, .bar.nav ul a:focus, .bar.nav ul a:active {
  color: #fff;
}
/* line 189, ../sass/main.scss */
.bar.nav .main-menu li {
  width: 10%;
  min-width: 6rem;
}
/* line 193, ../sass/main.scss */
.bar.nav .main-menu li:not(:first-child) {
  margin-left: 1px;
}
/* line 196, ../sass/main.scss */
.bar.nav .main-menu li:not(:first-child)::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0.25rem;
  height: 1.5rem;
  border-left: 1px #666 solid;
}
/* line 206, ../sass/main.scss */
.bar.nav .main-menu li.on {
  border-bottom: 0.5rem #33B5E5 solid;
}
/* line 213, ../sass/main.scss */
.bar.nav .action li {
  width: 3rem;
}
/* line 216, ../sass/main.scss */
.bar.nav .action li.profile-menu {
  margin-left: 1rem;
}
/* line 219, ../sass/main.scss */
.bar.nav .action li.profile-menu::before {
  content: "";
  position: absolute;
  left: -0.5rem;
  top: 0.25rem;
  height: 1.5rem;
  border-left: 1px #666 solid;
}
/* line 228, ../sass/main.scss */
.bar.nav .action li.profile-menu ul {
  position: absolute;
  right: 0;
  top: 2.5rem;
  border-width: 0 1px;
  border-color: #000;
  border-style: solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: black 0 0 5px;
  -moz-box-shadow: black 0 0 5px;
  box-shadow: black 0 0 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
/* line 240, ../sass/main.scss */
.bar.nav .action li.profile-menu ul li {
  background-color: #222;
  display: block;
  float: none;
  width: auto;
  height: 3rem;
  padding: 0.5rem 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px #333 solid;
  border-bottom: 1px #000 solid;
}
/* line 251, ../sass/main.scss */
.bar.nav .action li.profile-menu ul li a {
  text-align: left;
}
/* line 264, ../sass/main.scss */
.bar.nav .highlight {
  border-bottom: 6px #33B5E5;
}
/* line 272, ../sass/main.scss */
.bar.level-1 {
  background-color: #fff;
  position: relative;
  padding: 0 0.5rem;
  z-index: 8;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
}
/* line 279, ../sass/main.scss */
.bar.level-1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px #ccc solid;
}
/* line 288, ../sass/main.scss */
.bar.level-1 .phase {
  height: 3rem;
  padding: 0.5rem;
  margin-right: 1rem;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  border-bottom: 1px #333 solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}
/* line 299, ../sass/main.scss */
.bar.level-1 .phase.admission {
  background-color: #6BAED6;
}
/* line 302, ../sass/main.scss */
.bar.level-1 .phase.discussion {
  background-color: #4292C6;
}
/* line 305, ../sass/main.scss */
.bar.level-1 .phase.verification {
  background-color: #2171B5;
}
/* line 308, ../sass/main.scss */
.bar.level-1 .phase.voting {
  background-color: #08519C;
}
/* line 313, ../sass/main.scss */
.bar.level-1 .time-left {
  color: #999;
}
/* line 322, ../sass/main.scss */
.bar.level-2 {
  background-color: #eee;
  position: relative;
}
/* line 326, ../sass/main.scss */
.bar.level-2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-top: 1px #fff solid;
}
/* line 335, ../sass/main.scss */
.bar.level-2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px #ccc solid;
}
/* line 348, ../sass/main.scss */
.bar.level-3 {
  background-color: #ddd;
  position: relative;
}
/* line 352, ../sass/main.scss */
.bar.level-3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-top: 1px #eee solid;
}
/* line 361, ../sass/main.scss */
.bar.level-3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px #ccc solid;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 392, ../sass/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 400, ../sass/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 411, ../sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 420, ../sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 437, ../sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 450, ../sass/main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 467, ../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 472, ../sass/main.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 481, ../sass/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 45rem) {
  /* Style adjustments for viewports that meet the condition */
  /* line 494, ../sass/main.scss */
  .bar.nav .current {
    display: inline-block;
  }
  /* line 498, ../sass/main.scss */
  .bar.nav ul.main-menu {
    position: absolute;
    left: 0.5rem;
    top: 3rem;
    border-width: 0 1px;
    border-color: #000;
    border-style: solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: black 0 0 5px;
    -moz-box-shadow: black 0 0 5px;
    box-shadow: black 0 0 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
  }
  /* line 510, ../sass/main.scss */
  .bar.nav ul.main-menu li {
    background-color: #222;
    display: block;
    float: none;
    width: auto;
    height: 3rem;
    margin: 0;
    padding: 0.5rem 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px #333 solid;
    border-bottom: 1px #000 solid;
  }
  /* line 522, ../sass/main.scss */
  .bar.nav ul.main-menu li:not(:first-child) {
    margin-left: 0;
  }
  /* line 524, ../sass/main.scss */
  .bar.nav ul.main-menu li:not(:first-child) ::before {
    display: none;
  }
  /* line 529, ../sass/main.scss */
  .bar.nav ul.main-menu li:first-child {
    padding-left: 1rem;
  }
  /* line 533, ../sass/main.scss */
  .bar.nav ul.main-menu li a {
    text-align: left;
  }
  /* line 537, ../sass/main.scss */
  .bar.nav ul.main-menu li.on {
    border: none;
  }
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 558, ../sass/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 566, ../sass/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 570, ../sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 574, ../sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 584, ../sass/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 589, ../sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 594, ../sass/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 599, ../sass/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 603, ../sass/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 613, ../sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 619, ../sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
