/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 16, ../sass/main.scss */
html {
  font-size: 16px;
  color: #333;
}

/* line 25, ../sass/main.scss */
body,
button,
input,
select,
textarea {
  font-size: 1.125rem;
  line-height: 2rem;
  margin: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 37, ../sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 42, ../sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 51, ../sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 64, ../sass/main.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 72, ../sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 82, ../sass/main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 90, ../sass/main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 170, ../sass/main.scss */
section,
header,
article,
footer,
aside,
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 174, ../sass/main.scss */
a {
  text-decoration: none;
  color: #333;
}

/* line 185, ../sass/main.scss */
.description-icon {
  display: inline-block;
  width: 1rem;
}

/* line 190, ../sass/main.scss */
.action {
  /* wrapper for an icon group */
  float: right;
}
/* line 193, ../sass/main.scss */
.action .action-icon {
  width: 2rem;
  margin: 0 0.5rem;
}
/* line 198, ../sass/main.scss */
.action .action-delegation {
  text-align: left;
  position: relative;
  margin-left: 1.5rem;
}
/* line 132, ../sass/main.scss */
.action .action-delegation::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0;
  height: 1.5rem;
  border-left: 1px #cccccc solid;
}

/* line 206, ../sass/main.scss */
.user-status {
  float: right;
}
/* line 211, ../sass/main.scss */
.user-status .progress-bar {
  width: 10rem;
  height: 0.5rem;
  background-color: #ccc;
  display: inline-block;
  line-height: 0.5rem;
  border-top: 1px #999 solid;
  border-bottom: 1px #fff solid;
}
/* line 220, ../sass/main.scss */
.user-status .progress-bar.voting {
  height: 0;
}
/* line 225, ../sass/main.scss */
.user-status .progress-amount {
  display: inline-block;
  height: 0.5rem;
  position: relative;
  top: -2.5px;
}
/* line 230, ../sass/main.scss */
.user-status .progress-amount:not(:first-child) {
  margin-left: -0.3rem;
}
/* line 235, ../sass/main.scss */
.user-status .progress-number {
  position: absolute;
  right: 0;
  top: -0.3rem;
  height: 1rem;
  width: auto;
  padding: 0 0.2rem;
  border: 1px #fff solid;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 251, ../sass/main.scss */
.user-status .status {
  width: 2rem;
  margin: 0 0.5rem;
  text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 0, white 1px 1px 0;
}
/* line 267, ../sass/main.scss */
.user-status .direct-support.status {
  color: #238443;
}
/* line 272, ../sass/main.scss */
.user-status .direct-support.progress-amount {
  background-color: #238443;
}
/* line 277, ../sass/main.scss */
.user-status .direct-support .progress-number {
  background-color: #238443;
}
/* line 267, ../sass/main.scss */
.user-status .indirect-support.status {
  color: #78c679;
}
/* line 272, ../sass/main.scss */
.user-status .indirect-support.progress-amount {
  background-color: #78c679;
}
/* line 277, ../sass/main.scss */
.user-status .indirect-support .progress-number {
  background-color: #78c679;
}
/* line 267, ../sass/main.scss */
.user-status .potential-support.status {
  color: #f7fcb9;
}
/* line 272, ../sass/main.scss */
.user-status .potential-support.progress-amount {
  background-color: #f7fcb9;
}
/* line 277, ../sass/main.scss */
.user-status .potential-support .progress-number {
  background-color: #f7fcb9;
}
/* line 293, ../sass/main.scss */
.user-status .direct-support.progress-amount {
  width: 20%;
}
/* line 293, ../sass/main.scss */
.user-status .indirect-support.progress-amount {
  width: 30%;
}
/* line 293, ../sass/main.scss */
.user-status .potential-support.progress-amount {
  width: 40%;
}

/* line 305, ../sass/main.scss */
.meta-text {
  font-size: 0.875rem;
}

/* line 309, ../sass/main.scss */
.status-text {
  font-size: 0.75rem;
  text-shadow: white 1 1 0;
}

/* line 314, ../sass/main.scss */
#content-wrapper {
  margin-top: 3rem;
}

/* line 318, ../sass/main.scss */
.bar {
  width: 100%;
}

/* line 322, ../sass/main.scss */
.nav {
  padding: 0.5rem;
  background-color: #222;
  color: #d3d3d3;
  position: fixed;
  top: 0;
  z-index: 9;
  height: 3rem;
  border-bottom: 1px #000 solid;
  -webkit-box-shadow: black 0 0 5px;
  -moz-box-shadow: black 0 0 5px;
  box-shadow: black 0 0 5px;
}
/* line 333, ../sass/main.scss */
.nav .current {
  display: none;
  color: #fff;
  padding: 0 1rem;
  min-width: 6rem;
}
/* line 340, ../sass/main.scss */
.nav ul {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
}
/* line 60, ../../../../Downloads/fire.app.windows.201306280124-2726eecb1e/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../Downloads/fire.app.windows.201306280124-2726eecb1e/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.nav ul li:first-child, .nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../Downloads/fire.app.windows.201306280124-2726eecb1e/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../Downloads/fire.app.windows.201306280124-2726eecb1e/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.nav ul li.last {
  padding-right: 0;
}
/* line 345, ../sass/main.scss */
.nav ul li {
  height: 2rem;
  position: relative;
}
/* line 351, ../sass/main.scss */
.nav ul a {
  display: block;
  color: #d3d3d3;
  text-align: center;
}
/* line 358, ../sass/main.scss */
.nav ul a:hover, .nav ul a:focus, .nav ul a:active {
  color: #fff;
}
/* line 365, ../sass/main.scss */
.nav .main-menu li {
  width: 10%;
  min-width: 6rem;
}
/* line 369, ../sass/main.scss */
.nav .main-menu li:not(:first-child) {
  margin-left: 1px;
}
/* line 132, ../sass/main.scss */
.nav .main-menu li:not(:first-child)::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0.25rem;
  height: 1.5rem;
  border-left: 1px #424242 solid;
}
/* line 374, ../sass/main.scss */
.nav .main-menu li.on {
  border-bottom: 0.5rem #33B5E5 solid;
}
/* line 376, ../sass/main.scss */
.nav .main-menu li.on a {
  color: #fff;
}
/* line 384, ../sass/main.scss */
.nav .action li {
  width: 3rem;
}
/* line 387, ../sass/main.scss */
.nav .action li.profile-menu {
  margin-left: 1rem;
}
/* line 132, ../sass/main.scss */
.nav .action li.profile-menu::before {
  content: "";
  position: absolute;
  left: -0.5rem;
  top: 0.25rem;
  height: 1.5rem;
  border-left: 1px #424242 solid;
}
/* line 391, ../sass/main.scss */
.nav .action li.profile-menu ul {
  position: absolute;
  left: auto;
  right: 0;
  top: 2.5rem;
  border-width: 0 1px 1px 1px;
  border-color: #000;
  border-style: solid;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: black 0 0 5px;
  -moz-box-shadow: black 0 0 5px;
  box-shadow: black 0 0 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 397, ../sass/main.scss */
.nav .action li.profile-menu ul li {
  background-color: #282828;
  display: block;
  width: auto;
  height: 3rem;
  margin: 0;
  padding: 0.5rem 1rem;
  float: none;
  border-top: 1px #3e3e3e solid;
  border-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 401, ../sass/main.scss */
.nav .action li.profile-menu ul li a {
  text-align: left;
}
/* line 410, ../sass/main.scss */
.nav .highlight {
  border-bottom: 6px #33B5E5;
}

/* line 417, ../sass/main.scss */
.level-1 {
  background-color: #fff;
  padding: 0 0.5rem;
  z-index: 8;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
}
/* line 117, ../sass/main.scss */
.level-1 {
  position: relative;
}
/* line 121, ../sass/main.scss */
.level-1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px #cccccc solid;
}
/* line 424, ../sass/main.scss */
.level-1 .phase {
  height: 3rem;
  padding: 0.5rem;
  margin-right: 1rem;
  display: inline-block;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}
/* line 434, ../sass/main.scss */
.level-1 .phase.admission {
  background-color: #6BAED6;
}
/* line 437, ../sass/main.scss */
.level-1 .phase.discussion {
  background-color: #4292C6;
}
/* line 440, ../sass/main.scss */
.level-1 .phase.verification {
  background-color: #2171B5;
}
/* line 443, ../sass/main.scss */
.level-1 .phase.voting {
  background-color: #08519C;
}
/* line 448, ../sass/main.scss */
.level-1 .time-left {
  color: #999;
}
/* line 452, ../sass/main.scss */
.level-1 .action {
  margin-top: 0.5rem;
}

/* line 457, ../sass/main.scss */
.level-2 {
  background-color: #eee;
  padding: 0.5rem 1rem;
}
/* line 102, ../sass/main.scss */
.level-2 {
  position: relative;
}
/* line 106, ../sass/main.scss */
.level-2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-top: 1px white solid;
}
/* line 117, ../sass/main.scss */
.level-2 {
  position: relative;
}
/* line 121, ../sass/main.scss */
.level-2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px #cccccc solid;
}

/* line 464, ../sass/main.scss */
.level-3 {
  background-color: #ddd;
  padding: 0.5rem 1rem;
}
/* line 102, ../sass/main.scss */
.level-3 {
  position: relative;
}
/* line 106, ../sass/main.scss */
.level-3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-top: 1px #eeeeee solid;
}
/* line 117, ../sass/main.scss */
.level-3 {
  position: relative;
}
/* line 121, ../sass/main.scss */
.level-3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px #cccccc solid;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 481, ../sass/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 489, ../sass/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 500, ../sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 509, ../sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 526, ../sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 539, ../sass/main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 556, ../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 561, ../sass/main.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 570, ../sass/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 45rem) {
  /* Style adjustments for viewports that meet the condition */
  /* line 583, ../sass/main.scss */
  .bar.nav .current {
    display: inline-block;
  }
  /* line 587, ../sass/main.scss */
  .bar.nav ul.main-menu {
    position: absolute;
    left: 0.5rem;
    right: auto;
    top: 3rem;
    border-width: 0 1px 1px 1px;
    border-color: #000;
    border-style: solid;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: black 0 0 5px;
    -moz-box-shadow: black 0 0 5px;
    box-shadow: black 0 0 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
  /* line 593, ../sass/main.scss */
  .bar.nav ul.main-menu .current {
    color: #fff;
  }
  /* line 597, ../sass/main.scss */
  .bar.nav ul.main-menu li {
    background-color: #282828;
    display: block;
    width: auto;
    height: 3rem;
    margin: 0;
    padding: 0.5rem 1rem;
    float: none;
    border-top: 1px #3e3e3e solid;
    border-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 601, ../sass/main.scss */
  .bar.nav ul.main-menu li:not(:first-child) {
    margin-left: 0;
  }
  /* line 603, ../sass/main.scss */
  .bar.nav ul.main-menu li:not(:first-child) ::before {
    display: none;
  }
  /* line 608, ../sass/main.scss */
  .bar.nav ul.main-menu li:first-child {
    padding-left: 1rem;
  }
  /* line 612, ../sass/main.scss */
  .bar.nav ul.main-menu li a {
    text-align: left;
  }
  /* line 616, ../sass/main.scss */
  .bar.nav ul.main-menu li.on {
    border-top: 1px #3e3e3e solid;
    border-bottom: 0;
  }
  /* line 619, ../sass/main.scss */
  .bar.nav ul.main-menu li.on a {
    color: #d3d3d3;
  }
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 641, ../sass/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 649, ../sass/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 653, ../sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 657, ../sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 667, ../sass/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 672, ../sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 677, ../sass/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 682, ../sass/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 686, ../sass/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 696, ../sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 702, ../sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
