@import "compass/css3";
@import "compass/utilities/lists/horizontal-list";

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    font-size: 16px;
    color: #333;
}

body,
p {
    font-size: 1.125rem;
    line-height: 2rem;
    margin: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

section,
div {
    @include box-sizing(border-box);
}

a {
    text-decoration: none;
    color: #333;

    &.link,
    &:hover,
    &:focus,
    &:active {
    }
}

.action { /* wrapper for an icon group */
    float: right;

    .action-icon {
    }
}

.help-text {

}

.meta-text {
    font-size: 0.875rem;
}

.status-text {
    font-size: 0.75rem;
    @include text-shadow(#fff 1 1 0);
}


#content-wrapper {
    margin-top: 3rem;
}

.bar {
    width: 100%;
    padding: 0.5rem;

    &.nav {
        background-color: #222;
        color: #d3d3d3;
        position: fixed;
        top: 0;
        z-index: 9;
        height: 3rem;
        border-bottom: 1px #000 solid;
        @include box-shadow(rgba(black, 0.7) 0 0 5px);

        .current {
            color: #d3d3d3;
            display: none;
            padding: 0 1rem;
            min-width: 6rem;
        }

        ul {
            display: inline;
            @include horizontal-list;
            overflow: visible;

            li {
                height: 2rem;
                position: relative;

            }

            a {
                display: block;
                color: #d3d3d3;
                text-align: center;

                &:hover,
                &:focus,
                &:active {
                    color: #fff;
                }
            }
        }

        .main-menu {
            li {
                width: 10%;
                min-width: 6rem;

                &:not(:first-child) {
                    margin-left: 1px;

                    &::before {
                        content: "";
                        position: absolute;
                        left: -1px;
                        top: 0.25rem;
                        height: 1.5rem;
                        border-left: 1px #666 solid;
                    }
                }

                &.on {
                    border-bottom: 0.5rem #33B5E5 solid;
                }
            }
        }

        .action {
            li {
                width: 3rem;

            &.profile-menu {
                margin-left: 1rem;

                &::before {
                    content: "";
                    position: absolute;
                    left: -0.5rem;
                    top: 0.25rem;
                    height: 1.5rem;
                    border-left: 1px #666 solid;
                }

                ul {
                    position: absolute;
                    right: 0;
                    top: 2.5rem;
                    border-width: 0 1px;
                    border-color: #000;
                    border-style: solid;
                    @include box-sizing(border-box);
                    @include box-shadow(rgba(black, 1) 0 0 5px);
                    @include border-radius(3px);
                    overflow: hidden;

                    li {
                        background-color: #222;
                        display: block;
                        float: none;
                        width: auto;
                        height: 3rem;
                        padding: 0.5rem 1rem;
                        @include box-sizing(border-box);
                        border-top: 1px #333 solid;
                        border-bottom: 1px #000 solid;

                        a {
                            text-align: left;
                        }

                    }
                }


            }

            }
        }

        .highlight {
            border-bottom: 6px #33B5E5;            
        }

    }

    &.member {}

    &.level-1 {
        background-color: #fff;
        position: relative;
        padding: 0 0.5rem;
        z-index: 8;
        @include box-shadow(rgba(black, 0.3) 0 0 5px);

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            border-bottom: 1px #ccc solid;
        }

        .phase {
            height: 3rem;            
            padding: 0.5rem;
            margin-right: 1rem;
            display: inline-block;
            font-weight: bold;
            color: #fff;
            border-bottom: 1px #333 solid;
            @include box-sizing(border-box);
            @include box-shadow(rgba(black, 0.5) 0 0 5px);

            &.admission {
                background-color: #6BAED6;
            }
            &.discussion {
                background-color: #4292C6;
            }
            &.verification {
                background-color: #2171B5;
            }
            &.voting {
                background-color: #08519C;
            }
        }

        .time-left {
            color: #999;
        }

        .seperation {
            // #ccc;
        }
    }

    &.level-2 {
        background-color: #eee;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            border-top: 1px #fff solid;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            border-bottom: 1px #ccc solid;
        }

        .seperation {
            // #bbb;
        }
    }
    &.level-3 {
        background-color: #ddd;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            border-top: 1px #eee solid;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            border-bottom: 1px #ccc solid;
        }

        .seperation {
            // #aaa;
        }
    }
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 45rem) {
    /* Style adjustments for viewports that meet the condition */
    .bar.nav {
        .current {
            display: inline-block;
        }

        ul.main-menu {
            position: absolute;
            left: 0.5rem;
            top: 3rem;
            border-width: 0 1px;
            border-color: #000;
            border-style: solid;
            @include box-sizing(border-box);
            @include box-shadow(rgba(black, 1) 0 0 5px);
            @include border-radius(3px);
            overflow: hidden;

            li {
                background-color: #222;
                display: block;
                float: none;
                width: auto;
                height: 3rem;
                margin: 0;
                padding: 0.5rem 1rem;
                @include box-sizing(border-box);
                border-top: 1px #333 solid;
                border-bottom: 1px #000 solid;

                &:not(:first-child) {
                    margin-left: 0;
                    ::before {
                        display: none;
                    }
                }

                &:first-child {
                    padding-left: 1rem;
                }

                a {
                    text-align: left;
                }

                &.on {
                    border: none;
                }
            }
        }
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
