@import "compass/css3";
@import "compass/utilities/lists/horizontal-list";

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 16px;
    color: #333;
}

body,
button,
input,
select,
textarea {
    font-size: 1.125rem;
    line-height: 2rem;
    margin: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@mixin bar-toplight($color: #fff) {
    & {
        position: relative;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border-top: 1px $color solid;
    }
}

@mixin bar-bottomshadow($color: #ccc, $position: relative) {
    & {
        position: $position;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 1px $color solid;
    }
}

@mixin action-seperator($color: #ccc, $left: -1rem, $top: 0) {
    & {
        position: relative;
    }

    &::before {
        content: "";
        position: absolute;
        left: $left;
        top: $top;
        height: 1.5rem;
        border-left: 1px $color solid;
    }
}

@mixin dropdown-li {
    background-color: #282828;
    display: block;
    width: auto;
    height: 3rem;
    margin: 0;
    padding: 0.5rem 1rem;
    float: none;
    border-top: 1px #3e3e3e solid;
    border-bottom: 0;
}

@mixin dropdown-ul($left: 0.5rem, $right: auto, $top: 3rem) {
    position: absolute;
    left: $left;
    right: $right;
    top: $top;
    border-width: 0 1px 1px 1px;
    border-color: #000;
    border-style: solid;
    overflow: hidden;
}

section,
header,
article,
footer,
aside,
div {
    @include box-sizing(border-box);
}

a {
    text-decoration: none;
    color: #333;

    &.link,
    &:hover,
    &:focus,
    &:active {
    }
}

.description-icon {
    display: inline-block;
    width: 1rem;
}

.action { /* wrapper for an icon group */
    float: right;

    a {
        cursor: pointer;
    }

    .action-icon {
        width: 2rem;
        margin: 0 0.5rem;
    }

    .action-delegation {
        text-align: left;
        position: relative;
        margin-left: 1.5rem;
        @include action-seperator;
    }
}

.user-status {
    float: right;

    $progress-thickness: 0.5rem;
    
    .progress-bar {
        width: 10rem;
        height: $progress-thickness;
        background-color: #ccc;
        display: inline-block;
        line-height: $progress-thickness;
        border-top: 1px #999 solid;
        border-bottom: 1px #fff solid;

        &.voting {
            height: 0;
        }
    }

    .progress-amount {
        display: inline-block;
        height: $progress-thickness;
        position: relative;
        top: -2.5px;
        &:not(:first-child) {
            margin-left: -0.3rem;
        }
    }

    .progress-number {
        position: absolute;
        right: 0;
        top: -0.3rem;
        height: 1rem;
        width: auto;
        padding: 0 0.2rem;
        border: 1px #fff solid;
        color: #fff;
        font-size: 0.75rem;
        line-height: 1rem;
        text-align: center;
        background-color: #fff;
        @include border-radius(3px);
    }

    .status {
        width: 2rem;
        margin: 0 0.5rem;
        @include text-shadow(rgba(black, 0.5) -1px -1px 0, rgba(white, 1) 1px 1px 0);
    }

    // for user status icons and progress bars

    $colorList:
        "direct-support" #238443,
        "indirect-support" #78C679,
        "potential-support" #F7FCB9
    ;

    @each $i in $colorList {
        .#{nth($i, 1)} {
            &.status {
                color: nth($i, 2);
            }
        }
        .#{nth($i, 1)} {
            &.progress-amount {
                background-color: nth($i, 2);
            }
        }
        .#{nth($i, 1)} {
            .progress-number {
                background-color: nth($i, 2);
            }
        }
    }

    // temporarily used for mockup only

    $lengthList:
        "direct-support" 20%,
        "indirect-support" 30%,
        "potential-support" 40%
    ;

    @each $i in $lengthList {
        .#{nth($i, 1)} {
            &.progress-amount {
                width: nth($i, 2);
            }
        }
    }

}

.help-text {

}

.meta-text {
    font-size: 0.875rem;
}

.status-text {
    font-size: 0.75rem;
    @include text-shadow(#fff 1 1 0);
}

#content-wrapper {
    margin-top: 3rem;
}

.bar {
    width: 100%;
}

.nav {
    padding: 0.5rem;
    background-color: #222;
    color: #d3d3d3;
    position: fixed;
    top: 0;
    z-index: 9;
    height: 3rem;
    border-bottom: 1px #000 solid;
    @include box-shadow(rgba(black, 1) 0 0 5px);

    a {
        color: #d3d3d3;

        &:hover,
        &:focus,
        &:active {
            color: #fff;
        }
    }

    .current {
        display: none;
        padding: 0 1rem;
        min-width: 6rem;
        cursor: pointer;
    }

    ul {
        display: inline;
        @include horizontal-list;
        overflow: visible;

        li {
        }

        a {
            display: block;
            text-align: center;
        }
    }

    .main-menu {
        li {
            width: 10%;
            min-width: 6rem;

            &:not(:first-child) {
                margin-left: 1px;
                @include action-seperator(#424242, -1px, 0.25rem);
            }

            &.on {
                border-bottom: 0.5rem #33B5E5 solid;
                a {
                    color: #fff;
                }
            }
        }
    }

    .main-menu-spinner {
        display: none;
        @include dropdown-ul;
        @include box-sizing(border-box);
        @include box-shadow(rgba(black, 1) 0 0 5px);
        @include border-radius(3px);

        li {
            @include dropdown-li;
            @include box-sizing(border-box);
            width: auto;
            padding: 0.5rem 1rem;

            &:first-child {
                padding-left: 1rem;
            }

            a {
                display: block;
                text-align: left;
                margin-right: 1rem;
            }
        }
    }

    .action {
        a.action-icon {
            margin: 0 0.5rem;
        }

        .profile-menu {
            display: inline-block;
            line-height: 2rem;
            margin-left: 1rem;
            @include action-seperator(#424242, -0.5rem, 0.25rem);

            ul {
                @include dropdown-ul(auto, 0, 2.5rem);
                @include box-sizing(border-box);
                @include box-shadow(rgba(black, 1) 0 0 5px);
                @include border-radius(3px);

                li {
                    @include dropdown-li;
                    @include box-sizing(border-box);

                    a {
                        text-align: left;
                    }
                }
            }
        }
    }

    .highlight {
        border-bottom: 6px #33B5E5;            
    }
}

.member {}

.level-1 {
    background-color: #fff;
    padding: 0 0.5rem;
    z-index: 8;
    @include box-shadow(rgba(black, 0.3) 0 0 5px);
    @include bar-bottomshadow;

    .phase {
        height: 3rem;            
        padding: 0.5rem;
        margin-right: 1rem;
        display: inline-block;
        color: #fff;
        @include text-shadow(rgba(black, 0.5) -1px -1px 0);
        @include box-sizing(border-box);
        @include box-shadow(rgba(black, 0.5) 0 0 5px);

        &.admission {
            background-color: #6BAED6;
        }
        &.discussion {
            background-color: #4292C6;
        }
        &.verification {
            background-color: #2171B5;
        }
        &.voting {
            background-color: #08519C;
        }
    }

    .time-left {
        color: #999;
    }

    .action {
        margin-top: 0.5rem;
    }
}

.level-2 {
    background-color: #eee;
    padding: 0.5rem 1rem;
    @include bar-toplight;
    @include bar-bottomshadow;
}

.level-3 {
    background-color: #ddd;
    padding: 0.5rem 1rem;
    @include bar-toplight(#eee);
    @include bar-bottomshadow;
}

.level-4 {
    background-color: #ccc;
    padding: 0.5rem 1rem;
    @include bar-toplight(#ddd);
    @include bar-bottomshadow;
}

.issue-detail-title {
    .level-1 {
        position: fixed;
        top: 3rem;
    }
}

.issue-detail-content {
    margin-top: 6rem;
}

.initiative-wrapper {
    .initiative-title {
        background-color: #fff;
        //z-index: 7;
        @include box-shadow(rgba(black, 0.3) 0 0 5px);
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 45rem) {
    /* Style adjustments for viewports that meet the condition */
    .bar.nav {
        .current {
            display: inline-block;
        }

        ul.main-menu {
            display: none;
        }

        ul.main-menu-spinner {
            display: inline-block;
        }
    }

    .user-status {
        .progress-bar {
            width: auto;
            //height: $progress-thickness;
            background: none;
            //display: inline-block;
            //line-height: $progress-thickness;
            border: none;
        }

        .progress-amount {
            //display: inline-block;
            //height: $progress-thickness;
            //position: relative;
            //top: -2.5px;
            &:not(:first-child) {
                margin-left: 0;
            }

            &.direct-support,
            &.indirect-support,
            &.potential-support {
                width: auto;
            }
        }

        .progress-number {
            position: relative;
            //right: 0;
            //top: -0.3rem;
            //height: 1rem;
            //width: auto;
            //padding: 0 0.2rem;
            //border: 1px #fff solid;
            //color: #fff;
            //font-size: 0.75rem;
            //line-height: 1rem;
            //text-align: center;
            //background-color: #fff;
            //@include border-radius(3px);
        }
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
