            <aside class="bar level-2 initiative-argument">
                <span class="action">
                    <a href="" class="action-icon new"  name="new-arguments-pro">＋</a>
                    <a href="" class="action-icon collapse" name="collapse-arguments-pro" style="display:none">↑</a>
                    <a href="" class="action-icon expand" name="expand-arguments-pro">↓</a>
                </span>
            	<span>Argument Pros (2)</span>
            </aside>
<%= render :partial => "argument" %>
<%= render :partial => "argument" %>
