        <div class="argument-cons-wrapper">
            <aside class="bar level-2 initiative-argument">
                <span class="action">
                    <a class="action-icon" name="new-argument-con">＋</a>
                    <a class="action-icon" name="collapse-argument-cons">↑</a>
                    <a class="action-icon" name="expand-argument-cons">↓</a>
                </span>
            	<span>Argument Cons (1)</span>
            </aside>
<%= render :partial => "argument-con" %>
		</div>