            <aside class="bar level-2 initiative-argument">
                <span class="action">
                    <a class="action-icon"  name="new-argument-cons">＋</a>
                    <a class="action-icon" name="collapse-argument-cons" style="display:none">↑</a>
                    <a class="action-icon" name="expand-argument-cons">↓</a>
                </span>
            	<span>Argument Cons (2)</span>
            </aside>
<%= render :partial => "argument" %>
<%= render :partial => "argument" %>
