            <article class="bar level-2 initiative-title">
                <span class="user-status action">
                    <span class="status direct-support">♂</span>
                    <a class="progress-bar" name="show-initiative-members">
                        <span class="progress-amount direct-support"></span>
                        <span class="progress-amount indirect-support">
                            <span class="progress-number">25</span>
                        </span>
                        <span class="progress-amount potential-support"></span>
                    </a>
                </span>
                <span class="meta-text">i26</span>
                <span class="description-icon">■</span>
                <span><%= lorem_sentence %>
                </span>
            </article>
