<%= render :partial => "initiative-title" %>

            <aside class="bar level-2 initiative-meta">
                <span class="action">
                    <a href="" class="action-icon new"  name="support-initiative">☆</a>
                    <a href="" class="action-icon new"  name="subscribe-initiative">☆</a>
                    <a href="" class="action-icon collapse" name="collapse-initiative" style="display:none">↑</a>
                    <a href="" class="action-icon expand" name="expand-initiative">↓</a>
                </span>
            	<span class="meta-text">
            		<span>Yesterday 17:32 ● clkao</span>
            	</span>
            </aside>
            <aside class="bar level-2 initiative-members" style="display:none">
                <span class="member">
                	<span>●</span>
                    <span class="status">♂</span>
                </span>
                <span class="member">
                	<span>●</span>
                    <span class="status">♂</span>
                </span>
                <span class="member">
                	<span>●</span>
                    <span class="status">♂</span>
                </span>
            </aside>
            <article class="bar level-2 initiative-content" style="display:none">
                <span>Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate.
                </span>
            </article>
