            <article class="bar level-2 initiative-title">
                <span class="user-status">
                    <span class="status direct-support">♂</span>
                    <a class="progress-bar voting">
                    </a>
                </span>
                <span class="description-icon">■</span>
                <span><%= lorem_sentence %>
                </span>
            </article>
