<%= render :partial => "initiative-title" %>

            <aside class="bar level-2 initiative-members" style="display:none">
                <span class="member">
                    <span>●</span>
                    <span class="status">♂</span>
                </span>
                <span class="member">
                    <span>●</span>
                    <span class="status">♂</span>
                </span>
                <span class="member">
                    <span>●</span>
                    <span class="status">♂</span>
                </span>
            </aside>
            <aside class="bar level-2 initiative-meta">
                <span class="action">
                    <a class="action-icon"  name="support-initiative">☆</a>
                    <a class="action-icon"  name="subscribe-initiative">☆</a>
                    <a class="action-icon" name="collapse-initiative">↑</a>
                    <a class="action-icon" name="expand-initiative">↓</a>
                </span>
            	<span class="meta-text">
            		<span>Yesterday 17:32 ● clkao</span>
            	</span>
            </aside>
            <article class="bar level-2 initiative-content">
                <span><%= lorem_paragraph %>
                </span>
            </article>
