            <header class="bar level-1 issue">
                <span class="phase admission">New</span>
                <span class="time-left meta-text">5 days left</span>
                <span class="action">
                    <a class="action-icon new-initiaitve">＋</a>
                    <a class="action-icon add-interest">☆</a>
                    <a class="action-delegation">● > -●●-●</a>
                </span>
            </header>
