            <header class="bar level-1 issue">
                <span class="phase voting">Voting</span>
                <span class="time-left meta-text">3 days left</span>
                <span class="action">
                    <a class="action-icon add-interest">★</a>
                    <a class="action-delegation">● > --●</a>
                </span>
            </header>
