        <div class="suggestions-wrapper">
            <aside class="bar level-2 initiative-suggestion">
                <span class="action">
                    <a class="action-icon new"  name="new-suggestion">＋</a>
                    <a class="action-icon collapse" name="collapse-suggestions">↑</a>
                    <a class="action-icon expand" name="expand-suggestions">↓</a>
                </span>
            	<span>Suggestions (3)</span>
            </aside>
<%= render :partial => "suggestion" %>
<%= render :partial => "suggestion" %>
<%= render :partial => "suggestion" %>
		</div>