            <aside class="bar level-2 initiative-suggestion">
                <span class="action">
                    <a href="" class="action-icon new"  name="new-suggestion">＋</a>
                    <a href="" class="action-icon collapse" name="collapse-suggestion" style="display:none">↑</a>
                    <a href="" class="action-icon expand" name="expand-suggestion">↓</a>
                </span>
            	<span>Suggestions (2)</span>
            </aside>
<%= render :partial => "suggestion" %>
<%= render :partial => "suggestion" %>
