<% @title = capture do %>
  Members
<% end %>
<% @menumembers = capture do %>
  class="on"
<% end %>
<% @navcurrent = capture do %>
  Members
<% end %>

            <header class="bar level-1 issue">
                <span class="phase discussion">Discussion</span>
                <span class="time-left meta-text">1 day 3 hrs left</span>
                <span class="action">
                    <a href="" class="action-icon">＋</a>
                    <a href="" class="action-icon">☆</a>
                    <a href="" class="action-delegation">● > ●-●-</a>
                </span>
            </header>
            <article class="bar level-2 initiative">
                <span class="user-status">
                    <span class="status direct-support">♂</span>
                    <span class="progress-bar">
                        <span class="progress-amount direct-support"></span>
                        <span class="progress-amount indirect-support">
                            <span class="progress-number">\25</span>
                        </span>
                        <span class="progress-amount potential-support"></span>
                    </span>
                </span>
                <span class="description-icon">■</span>
                <span>Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate. Hello world! This is HTML5 Boilerplate.</span>
            </article>
            <article class="bar level-2">
                <span class="user-status">
                    <span class="status direct-support">♀</span>
                    <span class="progress-bar">
                        <span class="progress-amount direct-support"></span>
                        <span class="progress-amount indirect-support">
                            <span class="progress-number">25</span>
                        </span>
                        <span class="progress-amount potential-support"></span>
                    </span>
                </span>
                <span class="description-icon">■</span>
                <span>Hello world! This is HTML5 Boilerplate.</span>
            </article>
            <article class="bar level-2">
                <span class="user-status">
                    <span class="status indirect-support">♀</span>
                    <span class="progress-bar">
                        <span class="progress-amount direct-support"></span>
                        <span class="progress-amount indirect-support">
                            <span class="progress-number">25</span>
                        </span>
                        <span class="progress-amount potential-support"></span>
                    </span>
                </span>
                <span class="description-icon">■</span>
                <span>Hello world! This is HTML5 Boilerplate.</span>
            </article>
            <footer class="bar level-3">
                <span class="meta-text">
                    <span>◆ g0v</span>
                    <span class="description-icon">＞</span>
                    <span>◎ Hackathon</span>
                    <span class="description-icon">＞</span>
                    <span>§ Fast Poll #12</span>
                </span>
                <span class="action">
                    <a href="" class="action-icon">＞</a>
                </span>
            </footer>
